<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

</head>
<body>
  <%- include("partials/head") %>
  <%- include("partials/nav") %>
  <%- include("partials/button") %>
  <div style="margin-top: 1rem;" class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page"><%= pag %></li>
      </ol>
    </nav>
  </div>

  <div class="container">
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="images/ElPrincipito.jpg" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="images/CHECO.jfif" class="d-block w-100" alt="...">
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>Some representative placeholder content for the second slide.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
</div>
  <div class="container text-center" style="margin-top: 2rem;">
    <div class="row align-items-start">
      <div class="col">
        <div class="container ">
          <div class="card" style="width: 18rem;">
              <img src="images/C1-JulioVerne.jpg" class="card-img-top" alt="Julio Verne - 20.000 lenguas de viaje submarino">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">20.000 Lenguas de Viaje Submarino</h5>
                <p class="card-text" style="text-align: center;">Autor Julio Verne</p>
                <p class="card-text" style="text-align: center;">$200</p>
                <a href="#" class="btn btn-outline-secondary">Agregar al carrito</a>
              </div>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="container ">
          <div class="card" style="width: 18rem;">
              <img src="images/C1-JulioVerne.jpg" class="card-img-top" alt="Julio Verne - 20.000 lenguas de viaje submarino">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">20.000 Lenguas de Viaje Submarino</h5>
                <p class="card-text" style="text-align: center;">Autor Julio Verne</p>
                <p class="card-text" style="text-align: center;">$200</p>
                <a href="#" class="btn btn-outline-secondary">Agregar al carrito</a>
              </div>
            </div>
        </div>
      </div>
      <div class="col">
        <div class="container ">
          <div class="card" style="width: 18rem;">
              <img src="images/C1-JulioVerne.jpg" class="card-img-top" alt="Julio Verne - 20.000 lenguas de viaje submarino">
              <div class="card-body">
                <h5 class="card-title" style="text-align: center;">20.000 Lenguas de Viaje Submarino</h5>
                <p class="card-text" style="text-align: center;">Autor Julio Verne</p>
                <p class="card-text" style="text-align: center;">$200</p>
                <a href="#" class="btn btn-outline-secondary">Agregar al carrito</a>
              </div>
            </div>
        </div>
      </div>
    </div>

  <%- include("partials/footer") %>
</body>
</html>