<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include("partials/head") %>
    <%- include("partials/nav") %>
    
    <h1><%= title %></h1>
    <div class="container">
      <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page"><%= pag %></li>
        </ol>
      </nav>
    </div>
  
    <div class="container ">
      <div class="card" style="width: 18rem;">
          <img src="images/C1-JulioVerne.jpg" class="card-img-top" alt="Julio Verne - 20.000 lenguas de viaje submarino">
          <div class="card-body">
            <h5 class="card-title" style="text-align: center;">20.000 Lenguas de Viaje Submarino</h5>
            <p class="card-text" style="text-align: center;">Autor Julio Verne</p>
            <p class="card-text" style="text-align: center;">$200</p>
            <a href="#" class="btn btn-outline-secondary">Agregar al carrito</a>
          </div>
        </div>
    </div>
  
    <%- include("partials/footer") %>
</body>
</html>